<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>[[#{app.title}]]</title>
    <link href="/css/test.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script th:inline="javascript">
    window.initMap = function () {
        const map = new google.maps.Map(document.getElementById("map"), {
          center: { lat: 35.1059792, lng: 129.0377582 },
          zoom: 18,
        });
        const malls = [
            { label: "A", name: "부산무역호텔", lat: 35.1059154, lng: 129.037739 }
          ];
          const bounds = new google.maps.LatLngBounds();
          malls.forEach(({ label, name, lat, lng }) => {
            const marker = new google.maps.Marker({
              position: { lat, lng },
              label,
              map,
            });
            bounds.extend(marker.position);
          });
     };
    </script>
    
    <script>
        function MySlider1__init() {
  var swiper = new Swiper('.my-slider-1 .swiper-container', {
    slidesPerView: 1,
    navigation: {
      prevEl: '.my-slider-1__nav-button--left',
      nextEl: '.my-slider-1__nav-button--right' 
    },
    pagination: {
      el: '.my-slider-1__pagination',
      clickable: true,
      renderBullet: function (index, className) {
        const no = index + 1;
        const url = 'https://picsum.photos/id/' + no + '/100/100';
        return '<div class="' + className + '"><img class="block" src="' + url + '"></div>';
      }
    },
    loop:true
  });
}

MySlider1__init();

function ProdList__init() {
  $(".prod-list > ul > li").each(function(i, node) {
    gsap.from(node, {
      duration:1,
      x:400,
      opacity:0,
      ease: "circ.out",
      scrollTrigger:{
        start:"top 100%",
        end:"top 70%",
        trigger:node,
        markers:true,
        scrub:true
      }
    });
  });
}

ProdList__init();
    </script>
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.min.js"></script>

<!-- 폰트어썸 불러오기 -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.8.4/swiper-bundle.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.8.4/swiper-bundle.min.js"></script>

<div class="languages">
<button class="translate" th:onclick="@{?lang=en}">EN</button>
<button class="translate" th:onclick="@{?lang=ja}">JP</button>
<div class="my_bg my_div">
        <h2 class="country"></h2>
        <h3 class="time">현재시간: </h3>
        <h3 class="icon"></h3>
        <h3 class="ctemp"></h3>
    </div>
</div>

<header class="logo-bar con-min-width padding-0-10">
  <div class="con flex flex-jc-c">
    <a href="test" class="logo">
      <span><i class="far fa-star"></i></span>
      <span>[[#{app.title}]]</span>
    </a>
  </div>
</header>

<header class="menu-bar con-min-width padding-0-10">
  <div class="con">
    <nav class="menu-bar__menu-1">
      <ul class="flex">
       
        <li class="width-1-7"><a href="reservation" class="block">[[#{menu.book}]]</a></li>
        <li class="width-1-7"><a href="myreservation1" class="block">[[#{menu.myreservations}]]</a></li>
       
      </ul>
    </nav>
  </div>
</header>



<section class="section-top-slider con-min-width">
  <div class="con">
    <div class="my-slider-1">
      <div class="my-slider-1__nav">
        <div class="my-slider-1__nav-button my-slider-1__nav-button--left"><i class="fas fa-chevron-left"></i></div>
        <div class="my-slider-1__nav-button my-slider-1__nav-button--right"><i class="fas fa-chevron-right"></i></div>
      </div>
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="https://images.unsplash.com/photo-1631049035634-c04c637651b1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="">
            <div class="my-slider-1__prod-name">ROOM 1</div>
          </div>
          <div class="swiper-slide">
            <img src="https://images.unsplash.com/photo-1631049035634-c04c637651b1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="">
            <div class="my-slider-1__prod-name">ROOM 2</div>
          </div>
          <div class="swiper-slide">
            <img src="https://images.unsplash.com/photo-1631049035326-57414e7739eb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="">
            <div class="my-slider-1__prod-name">ROOM 3</div>
          </div>
          <div class="swiper-slide">
            <img src="https://images.unsplash.com/photo-1621891333819-00c206ec8994?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="">
            <div class="my-slider-1__prod-name">ROOM 4</div>
          </div>
          
        </div>
      </div>
      <div class="my-slider-1__pagination flex flex-jc-c"></div>
    </div>
  </div>
</section>



<div class="container">
<header>
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>google map</title>
    <script defer src="./index.js"></script>
    <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAY1tw2x4p1K5xLo35d61RHLSzg8YZP0RE&callback=initMap"></script>
    <style>
         #map {
             width: 1200px;
             height: 300px; 
        } 
    </style>
     <script>
        $.getJSON('https://api.openweathermap.org/data/2.5/weather?lat=35.1028&lon=129.0403&appid=fcac82f14e9c8096543d05542904f924&units=metric',
         function(data){
            var temp = Math.round(data.main.temp);
            $('.ctemp').append(temp + '°C');
            var wiconUrl = ' <img src="https://openweathermap.org/img/wn/'+ data.weather[0].icon +'.png" alt="'+ data.weather[0].description + '">';
            $('.icon').html(wiconUrl);
            var ct = data.dt;
            function convertTime(t) {
                var ot = new Date(t*1000);  // Wed Apr 26 2023 11:14:57 GMT+0900 (한국 표준시)
                var hour = ot.getHours();
                var min = ot.getMinutes();
                var sec = ot.getSeconds();

                return hour + ':' + min + ':' + sec;
            }
            
            var currentTime = convertTime(ct);
            $('.time').append(currentTime);
            $('.country').append(data.name + ', ' + data.sys.country);
        });
    </script>
</head>
<body>
     <div class="box"></div>                 <!--영역테그 -->
    </style>
    <h1>[[#{map.location}]]</h1>
    </header>
</head>
<body>
    <div id="map"></div>
</body>
</html>
</div>

<div class="container">
<ul>
      <li>[[#{map.address}]]</li>
      <li>TEL :+82 (051)1234-5678</li>
  </ul>
</div>
<p>
<hr>
  <div class="container">
          <h2> <span><i class="far fa-star"></i></span> Hotel Yururi</h2>
  <ul>
      <li>11, Chungjang-daero, Jung-gu, Busan, 48939 Republic of Korea</li>
      <li>TEL :+82 (051)1234-5678</li>
      <li>CEO: Choi Hunje</li>
      <li style="font-style: italic;">copyright © 2023 all rights reserved</li>
  </ul>
 </div>
</body>
</html>